body,h1 {
    margin: 0;
    padding: 0;
}
.header {
    background: #eee;
    height: 30px;
    padding: 10px;
}
h1 {
    float: left;
}
.menu {
    float:right;
    margin: 0 0 0 0;
    padding: 10px;
}
.container {
    max-width: 600px;
    margin: 20px auto;
}
#memo {
    width: 100%;
    height: 200px;
}


/* full screen */
#output:-webkit-full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
}
#output:-moz-full-screen { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
}
#output:-ms-full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
}
#output:-o-full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
}
#output:full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
}
/* layer popup */
#lay_mask {
    display: none;
    position:absolute; 
    background:black;
    z-index:100; 
    opacity:0.5; 
    filter:alpha(opacity=50); 
    background:rgba(0,0,0,.5); 
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000) 
}
#layer {
    width: 500px; 
    height:500px; 
    background-color:#fff; 
    display:none;
}
.PopupLayer {
    width: 500px; 
    height:500px; 
    background-color:#fff; 
    position: 
    absolute; 
    z-index: 110;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.btn-aboutClose {
    float: right;
}
